API/Connected Services/SoftexMassage/MiniClient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://smsws.softexsw.info/ClientServices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://smsws.softexsw.info/ClientServices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://smsws.softexsw.info/ClientServices/">
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBalanceResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendInstantMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PhoneNumbers" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="IsUniCode" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendInstantMsgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendInstantMsgResult" type="tns:EnumMiniClientStatus" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="EnumMiniClientStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Error_" />
          <s:enumeration value="Success" />
          <s:enumeration value="LoginFail" />
          <s:enumeration value="MsgNeedRevision" />
          <s:enumeration value="NoCredit" />
          <s:enumeration value="NoSuccessPhones" />
        </s:restriction>
      </s:simpleType>
      <s:element name="decimal" type="s:decimal" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="SendInstantMsgSoapIn">
    <wsdl:part name="parameters" element="tns:SendInstantMsg" />
  </wsdl:message>
  <wsdl:message name="SendInstantMsgSoapOut">
    <wsdl:part name="parameters" element="tns:SendInstantMsgResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpGetIn">
    <wsdl:part name="SecStr" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpPostIn">
    <wsdl:part name="SecStr" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpPostOut">
    <wsdl:part name="Body" element="tns:decimal" />
  </wsdl:message>
  <wsdl:portType name="MiniClientSoap">
    <wsdl:operation name="GetBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Account Balance Function, Return Decimal Value.</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendInstantMsg">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Send instant message for a phone number or more. For send arabic message use IsUnique Parameter and set it with true,This function return enum</wsdl:documentation>
      <wsdl:input message="tns:SendInstantMsgSoapIn" />
      <wsdl:output message="tns:SendInstantMsgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MiniClientHttpGet">
    <wsdl:operation name="GetBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Account Balance Function, Return Decimal Value.</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceHttpGetIn" />
      <wsdl:output message="tns:GetBalanceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MiniClientHttpPost">
    <wsdl:operation name="GetBalance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get Account Balance Function, Return Decimal Value.</wsdl:documentation>
      <wsdl:input message="tns:GetBalanceHttpPostIn" />
      <wsdl:output message="tns:GetBalanceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MiniClientSoap" type="tns:MiniClientSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://smsws.softexsw.info/ClientServices/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInstantMsg">
      <soap:operation soapAction="http://smsws.softexsw.info/ClientServices/SendInstantMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiniClientSoap12" type="tns:MiniClientSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://smsws.softexsw.info/ClientServices/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendInstantMsg">
      <soap12:operation soapAction="http://smsws.softexsw.info/ClientServices/SendInstantMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiniClientHttpGet" type="tns:MiniClientHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetBalance">
      <http:operation location="/GetBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MiniClientHttpPost" type="tns:MiniClientHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetBalance">
      <http:operation location="/GetBalance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiniClient">
    <wsdl:port name="MiniClientSoap" binding="tns:MiniClientSoap">
      <soap:address location="http://softexsmsws.azurewebsites.net/ClientServices/MiniClient.asmx" />
    </wsdl:port>
    <wsdl:port name="MiniClientSoap12" binding="tns:MiniClientSoap12">
      <soap12:address location="http://softexsmsws.azurewebsites.net/ClientServices/MiniClient.asmx" />
    </wsdl:port>
    <wsdl:port name="MiniClientHttpGet" binding="tns:MiniClientHttpGet">
      <http:address location="http://softexsmsws.azurewebsites.net/ClientServices/MiniClient.asmx" />
    </wsdl:port>
    <wsdl:port name="MiniClientHttpPost" binding="tns:MiniClientHttpPost">
      <http:address location="http://softexsmsws.azurewebsites.net/ClientServices/MiniClient.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>